:root {
  --container-width: 100%;
  --device-orientation-beta: 0;
  --device-orientation-gamma: 0;
  --device-mouse-x: 0;
  --device-mouse-y: 0;
  --element-margin: 35px;
  --gutter: 20px;
  --navigation-height: 44px;
  --navigation-width: 60px;
  --outer-gutter: 30px;
  --paragraph-margin: 35px;
  --post-body-container-width: 100%;
  --window-height: 100vh;
  --window-width-offset: 0px;
tablet-desktop()
desktop()
desktop-large()
}
:root {
  --body-bg-color: #fff;
  --content-bg-color: #fff;
  --card-bg-color: #f5f5f5;
  --text-color: #555;
  --blockquote-color: #666;
  --link-color: #555;
  --link-hover-color: #222;
  --brand-color: #fff;
  --brand-hover-color: #fff;
  --table-row-odd-bg-color: #f9f9f9;
  --table-row-hover-bg-color: #f5f5f5;
  --menu-item-bg-color: #f5f5f5;
  --theme-color: #222;
  --btn-default-bg: #222;
  --btn-default-color: #fff;
  --btn-default-border-color: #222;
  --btn-default-hover-bg: #fff;
  --btn-default-hover-color: #222;
  --btn-default-hover-border-color: #222;
  --highlight-background: #f3f3f3;
  --highlight-foreground: #444;
  --highlight-gutter-background: #e1e1e1;
  --highlight-gutter-foreground: #555;
  --nav-menu-color: #ddd;
  --scheme-color-a: #af4c4c;
  --scheme-color-c: #5f9191;
  color-scheme: light;
}
body {
  margin-top: 2rem;
}
.use-motion .menu-item,
.use-motion .sidebar,
.use-motion .sidebar-menu__list,
.use-motion .post-block,
.use-motion .pagination,
.use-motion .comments,
.use-motion .post__header,
.use-motion .post-body,
.use-motion .collection-header {
  visibility: visible;
}
.use-motion .column,
.use-motion .site-brand-container .toggle,
.use-motion .footer {
  opacity: initial;
}
.use-motion .site-title,
.use-motion .site-subtitle,
.use-motion .custom-logo-image {
  opacity: initial;
  top: initial;
}
.use-motion .logo-line {
  transform: scaleX(1);
}
.search-pop-overlay,
.sidebar-nav {
  display: none;
}
.post-toc-box {
  display: block;
}
.noscript-warning {
  background-color: #f55;
  color: #fff;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}
